body, html {
    height: 100%;
    min-height: 100%;
    margin: 0;
  }

.navbar {
    zoom: 1.4;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.links-container .list-group { 
    max-width: 600px; 
}

.list-group-item {
    width: 275px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 2;
}

.text-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size: 30px;
}

h1 {
    font-size: 65px;
}